html{
    font-size: 22px;
 }

 body{
    background-color: rgb(167, 167, 167);
    color: rgb(0, 0, 0);
}

a {
    color: blue;
}

a:visited{
color: rgb(0, 119, 255);
}

a:hover, a:active{
    color: #eee;
}